.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 58px;
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 37px;
}

.subTitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #777C85;
  max-width: 198px;
  text-align: center;
  margin-bottom: 35px;
}

img {
  margin-bottom: 35px;
}