.relative {
  position: relative;
  width: fit-content;
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #777C85;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    transform: translate(-50%, -50%);
  }
}


.circularProgressContainer {
  position: relative;
  width: fit-content;
  margin-left: -10px;
  line-height: 0; /* remove white-space below svg */
}

.circularProgressContainer > .percent {
  position: absolute;
}

.circularProgressSvgContainer > svg {
  transform: rotate(-90deg);
}
