.wrap {
  padding-top: 32px;
  padding-bottom: 100px;
  .inner {
    display: flex;
    justify-content: space-between;
  }
  .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 22px;
    color: #000000;
  }

}