.choice {
  color: #777C85;
  position: relative;
  width: 340px;
  margin-bottom: 24px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 108px;
    height: 1px;
    background: #E0E5EB;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  &::before {
    left: 0;
  }
}