.wrap {
  padding-top: 32px;
  color: #000000;
  .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 10px;
  }
  .subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #777C85;
  }
}

.inner {
  display: flex;
  justify-content: space-between;

  .leftSide {
    .map {
      max-width: 614px;
      height: 361px;
      display: block;
      position: relative;
      z-index: -1;
    }
  }
}