.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 11px;
  color: #000000;
}

.descr {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #777C85;
  margin-bottom: 25px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;

  .leftSide {
    .map {
      max-width: 613px;
      margin: 0 0 55px 0;
    }
  }
}

.score {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  .taskCompleted,
  .testScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    .num {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      margin-bottom: 10px;
      border: 4px solid #0BCA1E;
      color: #0BCA1E;
      font-size: 18px;
      line-height: 28px;
    }

    .text {
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      color: #0BCA1E;
    }
    .numBad {
      border: 4px solid #F50537;
      color: #F50537;
      svg {
        path {
          stroke: #F50537;
        }
      }
    }
    .textBad {
      color: #F50537;
    }
  }
  .taskCompleted {
    .num {
      border: 4px solid #000;
      color: #000;
    }
    .text {
      color: #000;
    }
  }
}
.head {
  margin-bottom: 37px;
  display: flex;
  align-items: center;
  color: #A8B0BA;
  .plus {
    margin-right: 10px;
  }
  .achievementsText {
    white-space: nowrap;
    margin-right: 10px;
  }
  .line {
    width: 100%;
    height: 1px;
    background-color: #A8B0BA;
  }
}
.achievements {
  font-size: 16px;
  line-height: 24px;
  color: #A8B0BA;


  .achievementsList {
    display: flex;
  }
}

