.wrap {

  padding: 21px 32px 19px;
  margin-left: -2px;
  margin-right: -2px;
  border-radius: 32px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 556px;
    height: 1px;
    background-color: #E0E5EB;
    bottom: 0;
    left: 32px;
  }
  &:first-child {
    padding: 74px 32px 19px;
    margin-top: -74px;
  }

  .titleBlock {
    display: flex;
    align-items: center;
    cursor: pointer;
    .plus {
      display: none;
      width: 10px;
      height: 10px;
      position: relative;
      cursor: pointer;
      margin-right: 13px;
      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 2px;
        top: 50%;
        left: 50%;
        transition: all .3s ease-in-out;
        background: #374DFB;
        border-radius: 2px;
        transform: translate(-50%, -50%);
      }
      &::before {
        transform: translate(-50%, -50%) rotate(90deg);
      }
      &.active {
        &::before {
          transform: translate(-50%, -50%) rotate(0deg);
        }
      }
    }
    .title {
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      color: #000000;
    }
  }
  .unitItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .unitItemName {
      color: #374DFB;
      &.unitItemNameDone {
        color: #0BCA1E;
      }
      &.unitItemNameNormal {
        color: #E3931B;
      }
      &.unitItemNameFail {
        color: #F50537;
      }
    }
    &+.unitItem {
      margin-top: 16px;
    }

    padding-left: 25px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  .tasksBlock {
    display: none;
    margin-bottom: 15px;
    &.active {
      display: block;
    }
  }
  &.showActive {
    border: 2px solid #374DFB;
    &::after {
      display: none;
    }
    .titleBlock {
      .plus {
        display: block;
      }
    }
  }
}