.wrap {
  padding: 21px 32px 19px;
  margin-left: -2px;
  margin-right: -2px;
  border-radius: 32px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 556px;
    height: 1px;
    background-color: #E0E5EB;
    bottom: 0;
    left: 32px;
  }
  &:first-child {
    padding: 74px 32px 19px;
    margin-top: -74px;
  }
  &.showActive {
    border: 2px solid #374DFB;
    &::after {
      display: none;
    }
    .header {
      .headerTitleBlock {
        .headerTitle {
          color: #000;
        }
      }

      .dropdownBtn {
        display: block;
      }
    }
  }
  .header {
    display: flex;
    align-items: center;
    cursor: pointer;
    .checkIcon {
      img {
        margin: 0 10px 0 0;
      }
    }
    .dropdownBtn {
      display: none;
      width: 10px;
      height: 10px;
      position: relative;
      cursor: pointer;
      margin-right: 13px;
      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 2px;
        top: 50%;
        left: 50%;
        transition: all .3s ease-in-out;
        background: #374DFB;
        border-radius: 2px;
        transform: translate(-50%, -50%);
      }
      &::before {
        transform: translate(-50%, -50%) rotate(90deg);
      }
      &.active {
        &::before {
          transform: translate(-50%, -50%) rotate(0deg);
        }
      }
    }
    .headerTitleBlock {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .headerTitle,
      .headerTitleScore {
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        color: #ccc;
        &.itemDone {
          color: #0BCA1E;
        }
        &.itemNormal {
          color: #E3931B;
        }
        &.itemFail {
          color: #F50537;
        }
      }
    }
  }
  .unitItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .unitItemNameBlock {
      display: flex;
      align-items: center;
      img {
        width: 16px;
        height: 16px;
        margin: 0 10px 0 0;
      }
    }
    .unitItemName {
      cursor: pointer;
    }
    .unitItemName,
    .unitItemNameScore{
      color: #000;

      &.unitItemNameDone {
        color: #0BCA1E;
      }
      &.unitItemNameNormal {
        color: #E3931B;
      }
      &.unitItemNameFail {
        color: #F50537;
      }
    }
    .unitItemNameScore {
      font-size: 12px;
      line-height: 18px;
      margin-left: 16px;
      width: 28px;
    }
    &+.unitItem {
      margin-top: 16px;
    }
    padding-left: 25px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  .tasksBlock {
    display: none;
    margin: 15px 0;
    &.active {
      display: block;
    }
  }
  .scoreBlock {
    display: flex;
    align-items: center;
  }

  .buttonBlock {
    position: relative;
    .retryPopup {
      position: absolute;
      display: none;
      width: 240px;
      height: fit-content;
      padding: 20px;
      background-color: #000;
      border-radius: 32px;
      color: #fff;
      top: -86px;
      left: -232px;
      transition: opacity .2s ease-in-out;
      .linkMarket {
        color: red
      }
    }
    .retryBtn {
      border: none;
      padding: 3px 10px;
      background: #374DFB;
      cursor: pointer;
      border-radius: 12px;
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      &:disabled {
        background: #777C85;
      }
    }
    &:hover .retryPopup {
      display: block;
    }
  }


}