.wrapper {
  text-align: center;
}

.inner {
  padding-top: 58px;
}

.title {
  font-weight: 600;
  max-width: 617px;
  margin: 0 auto 22px;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.subTitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  max-width: 617px;
  margin: 0 auto 50px;
  color: #777C85;
}

.stepsTitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 35px;
  color: #000000;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  &__item {
    width: 300px;
    height: 200px;
    background: #F1F4F8;
    border-radius: 32px;
    text-align: left;
    padding: 31px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      color: #000000;
    }
    p:last-child {
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: #000000;
    }
  }
}