.tutorialBlock {
  margin-bottom: 20px;
}

.loadingBlock {
  width: 620px;
  height: 100px;
  background: #F1F4F8;
  border-radius: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  padding: 32px 36px;
  text-transform: capitalize;
  &+.loadingBlock {
    margin-top: 20px;
  }
}

.wrap {
  width: 620px;
  height: 100%;
  background: #374DFB;
  border-radius: 32px;
  padding: 31px 32px 27px;
  color: #fff;
  position: relative;
  z-index: 2;

  .title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
    text-transform: capitalize;
  }
  &.variant {
    background: #F1F4F8;
    color: #000;
    .title {
      font-size: 20px;
      line-height: 26px;
    }
  }
  .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.75;
    margin-bottom: 17px;
  }

  .info {
    padding-top: 17px;
    width: 100%;
    border-top: 2px solid rgba(255,255,255, 0.2);
    display: flex;
    justify-content: space-between;
    .infoItem {
      display: flex;
      align-items: center;

      .icon {
        width: 16px;
        height: 16px;
        display: block;
        margin: 0 16px 0 0;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

.tasksBlock {
  width: 620px;
  height: fit-content;
  position: relative;
  z-index: 1;
  margin-top: -68px;
  padding: 85px 0 0;
  border: 2px solid #E0E5EB;
  box-sizing: border-box;
  border-radius: 32px;
  &.finished {
    display: none;
  }
}





