.wrap {
  max-width: 560px;
  margin: 0 auto;
  .title {
    text-align: center;
    margin-bottom: 40px;
  }

  .startTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.active {
      display: none;
    }
    p {
      background-color: rgb(246, 244, 238);
      padding: 10px 15px;
      font-size: 22px;
      line-height: 30px;
      border-radius: 15px;
      color: rgb(25, 23, 23);
      margin-bottom: 10px;
    }

    .btn {
      border: none;
      width: fit-content;
      background-color: rgb(5, 114, 122);;
      color: #fff;
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 14px;
    }
  }

  .list {
    .itemBtn {
      border: none;
      background-color: rgb(5, 114, 122);;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
      padding: 6px 28px;
      border-radius: 14px;
    }

    .inner {
      display: none;
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;

      &.active {
        display: flex;
      }

      &.active1 {
        display: flex;
      }

      &.active2 {
        display: flex;
      }

      &.active3 {
        display: flex;
      }

      &.active4 {
        display: flex;
      }

      &.active5 {
        display: flex;
      }
    }

    .item {
      width: 100%;
      background-color: rgb(246, 244, 238);
      padding: 10px 15px;
      font-size: 18px;
      line-height: 30px;
      border-radius: 15px;
      color: rgb(25, 23, 23);
      margin-bottom: 10px;


    }
  }

  .nextButton {
    border: none;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    display: block;
    background-color: rgb(5, 114, 122);;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    padding: 16px 0;
    border-radius: 14px;
  }

}
