.wrap {
  max-width: 560px;
  text-align: center;
  margin: 0 auto;
  .title {
    margin-bottom: 40px;
  }
  .text {
    font-size: 26px;
  }
  .btn {
    margin-top: 20px;
    border: none;
    background-color: rgb(5, 114, 122);;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 14px;
    &:disabled {
      background: #F1F4F8;
      color: #191717;
    }
  }
}