.wrap {
  width: 267px;
  min-height: 131px;
  background: #000000;
  border-radius: 32px;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn {
  border: none;
  background-color: transparent;
  color: #fff;
  outline: none;
  cursor: pointer;
}