.wrap {
  width: 652px;
  height: 164px;
  border: 2px solid #E0E5EB;
  border-radius: 32px;
  padding: 21px 32px;
  margin-bottom: 20px;
  .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 13px;
  }
  .list {
    display: flex;
    justify-content: space-between;
    .item {
      p {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #000;
        span {
          color: #A8B0BA;
        }
        &:first-child {
          font-size: 32px;
          line-height: 40px;
        }
      }
      &:first-child {
        p {
          color: #0BCA1E;
        }
      }
    }
  }
}