.breadcrumbs {
  display: inline-flex;
  justify-content: center;
  position: relative;
  margin-top: 40px;
  margin-bottom: 15px;
  &__list {
    display: flex;
  }
  &__item {
    color: #374DFB;
    position: relative;
    padding-right: 10px;
    &::after {
      content: "/";
      position: absolute;
      right: 3px;
      color: #777C85;
    }
    &:last-child {
      color: #777C85;
      &::after {
        display: none;
      }
    }
  }
  &__link {
    color: inherit;
  }
}